/* ============================================================
   ERROR PAGE COMPONENTS
   ============================================================ */

.error img {
  width: 500px;
}

.error h1 {
  font-size: 48px;
}

.error p {
  font-size: 22px;
}
