body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.error img {
  width: 500px;
}

.error h1 {
  font-size: 48px;
}

.error p {
  font-size: 22px;
}

.icon-link-hover:hover i {
  transform: var(--bs-icon-link-transform, translate3d(0.25em, 0, 0));
  /* transition: transform 0.2s ease-in-out; */ /* Transition coming from common.css * selector */
}
