.result {
    display: none;
}

.big {
    font-size: 20px;
}

#rect_form {
    display: block;
}

.calcs {
    display: none;
}

.toastContainer {
    top: 55px;
    width: 200px;
}