.toastContainer {
  top: 55px;
  width: 200px;
}

@media screen and (max-width: 412px) {
  #removeFavoritesBtn {
    width: 100px;
  }
}

#custom-start-list > li::before {
  content: counters(custom-item, ".") ". ";
  counter-increment: custom-item;
}

#custom-start-list {
  counter-reset: custom-item 0;
  /* Set this to the start number minus 1 */
}

.card-body {
  border: none;
}

.list-group-numbered > .list-group-item::before {
  position: absolute;
  top: 13px;
}

.category-header {
  font-size: large;
}

.list-group-item {
  /* transition: all 0.3s ease; */ /* Transition coming from common.css * selector */
}

.list-group-item:hover {
  border-left: 5px solid #ffc107;
}
