.toastContainer {
    top: 55px;
    width: 200px;
}

@media screen and (max-width: 412px) {
    #removeFavoritesBtn {
        width: 100px;
    }
}

#custom-start-list>li::before {
    content: counters(custom-item, ".") ". ";
    counter-increment: custom-item;
}

#custom-start-list {
    counter-reset: custom-item 0;
    /* Set this to the start number minus 1 */
}