.contact {
    max-width: 900px;
}

textarea {
    resize: none;
}

.contact-image {
    animation: planeMovement 4s ease-in-out 1s infinite alternate;
    position: relative;
}

.tick-container {
    display: none;
    /* Initially hidden */
    text-align: center;
    margin-top: 20%;
}

.tick-svg {
    width: 120px;
    /* Increased size for better visibility */
    height: 120px;
    stroke: #4caf50;
    /* Green color similar to GPay */
    stroke-width: 5;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: draw 1s ease forwards;
    /* Trigger the animation */
}

#custom-message {
    color: #4caf50;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Animations */
@keyframes planeMovement {
    0% {
        top: 0px;
    }

    50% {
        top: -30px;
    }

    100% {
        top: 0px;
    }
}

@keyframes draw {
    0% {
        stroke-dasharray: 0, 100;
    }

    100% {
        stroke-dasharray: 100, 0;
    }
}

.was-validated :invalid~.invalid-feedback {
    display: inline;
}