.calc {
  width: auto;
  padding: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.mybtn {
  width: 60px;
  height: 60px;
  margin: 10px !important;
  box-shadow: -2px -1px 11px rgba(21, 53, 72, 0.9);
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out !important;
}

.mybtn:hover {
  filter: brightness(110%);
}

#screen {
  font-size: 25px;
  text-align: right;
}

.calc-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calc-operate {
  color: #000 !important;
}

/* 
#equal {
    background-color: orange;
} */

/* @media screen and (max-width: 419px) {
    .calc {
        padding: 5px;
    }

    .mybtn {
        margin: 3px !important;
        box-shadow: 0px 0px 5px rgba(21, 53, 72, 0.9);
    }
} */
