:root {
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-bg-opacity: 1;
    --bs-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

body {
    font-family: var(--bs-font-family);
}

main {
    min-height: 700px;
}

.logo {
    display: flex;
    align-items: center;
    /* background-color: #333; */
}

.navbar {
    background-color: #333;
    /* background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-wrap: wrap;
}

/* Style for the links */
.nav-item a {
    position: relative;
    display: block;
    /* text-align: center; */
    padding: 5px 16px;
    /* padding-bottom: 5px; */
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    /* box-sizing: border-box; */
}

/* Create the underline effect using ::after */
.nav-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

/* On hover, make the underline grow */
.nav-item a:hover::after {
    width: 100%;
    opacity: 1;
}

/* On hover, add a bold effect */
.nav-item a:hover {
    font-weight: bold;
    color: #f39c12;
}

.nav-item a.active {
    border-radius: 5px;
    height: 34px;
    background-color: darkgray;
}

/* Ensure the underline effect works on active state */
/* li a.active::after {
    /* width: 100%; */
/* Ensure the underline is visible even when active */
/* opacity: 1; */
/* Keep it visible */
/* left: 0; */
/* Ensure it's aligned */
/* } */


img {
    height: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

.container {
    max-width: 1320px;
    width: 100%;
    padding-right: 0;
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

footer {
    background-color: #333;
    padding-block: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.f-ul {
    list-style: none;
    flex-wrap: wrap;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.f-ul li {
    padding: 14px 16px;
}

.f-ul li a {
    color: white;
    padding-inline: 0.5rem;
    text-decoration: none;
}

.f-ul li a:hover {
    text-decoration: underline;
}

hr {
    margin-bottom: 15px;
}