label {
    margin-bottom: 8px;
    display: inline-block;
}

body {
    background-color: aquamarine;
}

input,
textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 6px;
    transition: border-color.15s ease-in-out, box-shadow.15s ease-in-out;
    margin-bottom: 5px;
}

input:focus,
textarea:focus {
    border-color: skyblue;
    outline: 0;
    box-shadow: 0 0 0 4px skyblue;

}

input:invalid {
    border-color: red;
    box-shadow: 0 0 0 4px red;
}

.contact {
    display: flex;
}

.phn {
    margin-right: 20px;
}

.phn,
.email {
    flex: 1;
}

textarea {
    resize: vertical;
}