svg {
    width: 50px;
    margin-right: 20px;
}

.heading h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.heading p {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
}

.location,
.phone,
.mail {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

input,
textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 6px;
    transition: border-color.15s ease-in-out, box-shadow.15s ease-in-out;
    margin-bottom: 5px;
}

input:focus,
textarea:focus {
    border-color: skyblue;
    outline: 0;
    box-shadow: 0 0 0 4px skyblue;

}

.contact {
    display: flex;
}

.phn {
    margin-right: 20px;
}

textarea {
    resize: vertical;
}

.flex {
    display: flex;
    margin-top: 80px;
}

.reachout {
    display: flex;
    justify-content: center;
    width: 40%;
}