svg {
    width: 50px;
    margin-right: 20px;
}

.heading h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.heading p {
    font-size: 19.2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.location,
.phone,
.mail {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

label {
    margin-bottom: 8px;
    display: inline-block;
}

.btn {
    border-radius: 50px;
    padding: 9px 15px;
}

input,
textarea {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 6px;
    transition: border-color.15s ease-in-out, box-shadow.15s ease-in-out;
    margin-bottom: 5px;
}

input:focus,
textarea:focus {
    border-color: skyblue;
    outline: 0;
    box-shadow: 0 0 0 4px skyblue;

}

input:invalid {
    border-color: red;
    box-shadow: 0 0 0 4px red;
}

.contact {
    display: flex;
}

.phn {
    margin-right: 20px;
}

.phn,
.email {
    flex: 1;
}

textarea {
    resize: vertical;
}

.flex {
    display: flex;
    /* justify-content: center; */
    margin-top: 80px;
}

.reachout {
    display: flex;
    justify-content: center;
    width: 40%;
}

/* 
svg {
    width: 50px;
    margin-right: 20px;
}

body {
    background-color: cyan;
}

.location,
.phone,
.mail {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.reachout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    height: 69vh;
}

.page h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.caption {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 50px;
} */